body {
    background-image: url("../assets/weatherAppVanessaIMG.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.weatherAppTitle{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 64px;
    line-height: 100%;
    font-optical-sizing: auto;
}

.searchBarSizing{
    width: 425px;
    height: 55px;
    background: white;
    border-radius: 10px;
}
.backgroundCard {
    background: #000000bd;
    border-radius: 20px;
    padding: 20px;
}
.weatherDiv {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    gap: 20px; 
}

.favoriteCitiesDiv {
    grid-row: 1 / 3;
    min-height: 500px; 
}
.currentWeatherDiv {
    grid-area: 1 / 2;
}
.forecastDiv {
    grid-area: 2 / 2;
    grid-template-columns: repeat(5, 1fr);
}
.forecastBackgroundCard {
    background: #000000bd;
    border-radius: 25px;
    padding: 15px 5px;
}
.forecastDayAbbreviation{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.currentWeatherLocationText{
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: bold;
    margin-top: -20px;
}
.currentWeatherDateTimeText{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 200;
}
.currentWeatherTemp{
    font-family: "Inter", sans-serif;
    font-size: 128px;
    font-weight: 500;
    margin-top: -30px;
}
.forecastHighTempText{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.forecastLowTempText{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.currentWeatherHighLow{
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: -35px;
}
.currentWeatherFahrenText{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: 20px;
}
.currentWeatherIconDiv{
    margin-top: -170px;
    margin-left: 10px
}
.favoriteCitiesText{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
}
.addToFavTextPositioning{
    margin-top: 70%
}
.currentWeatherHighLowDiv{
    margin-left: 20px;
}
.favoriteCitiesEntry{
    background-color: #1E1C1CA6;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tempPositioning{
    display: flex;
    justify-content: end;
    margin-top: -35px;
    margin-right: 10px;
}