body {
    background-image: url("../assets/weatherAppVanessaIMG.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100dvh;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.weatherAppTitle {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 64px;
    line-height: 100%;
    font-optical-sizing: auto;
}

.searchBarSizing {
    width: 425px;
    height: 55px;
    background: white;
    border-radius: 10px;
}

.backgroundCard {
    background: #000000bd;
    border-radius: 20px;
    padding: 20px;
}

.weatherDiv {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
    gap: 20px;
}

.removeIconIMGStyling {
    width: 25px;
    height: 25px;
}

.favoriteCitiesDivStyling {
    grid-row: 1 / 3;
    max-height: 100%;
}

.currentWeatherDiv {
    grid-area: 1 / 2;
}

.forecastDiv {
    grid-area: 2 / 2;
    grid-template-columns: repeat(5, 1fr);
}

.forecastBackgroundCard {
    background: #000000bd;
    border-radius: 25px;
    padding: 15px 5px;
}

.forecastDayAbbreviation {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.currentWeatherLocationText {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: bold;
    margin-top: -20px;
}

.currentWeatherDateTimeText {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 200;
}

.currentWeatherTemp {
    font-family: "Inter", sans-serif;
    font-size: 128px;
    font-weight: 500;
    margin-top: -30px;
}

.forecastHighTempText {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.forecastLowTempText {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.currentWeatherHighLow {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: -35px;
}

.currentWeatherFahrenText {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: 20px;
}

.currentWeatherIconDiv {
    margin-top: -170px;
    margin-left: 10px
}

.favoriteCitiesText {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
}

.addToFavTextPositioning {
    margin-top: 70%
}

.currentWeatherHighLowDiv {
    margin-left: 20px;
}

.favoriteCitiesEntry {
    background-color: #1E1C1CA6;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tempPositioning {
    display: flex;
    justify-content: end;
    margin-top: -35px;
    margin-right: 10px;
}

.currentWeatherIcon {
    width: 70px;
    height: 70px;
}

.addIcon {
    width: 40px;
    height: 40px;
}

.mapPinIcon {
    width: 40px;
    height: 40px;
}

.forecastDay1WeatherIcon {
    width: 70px;
    height: 70px;
}

.forecastDay2WeatherIcon {
    width: 70px;
    height: 70px;
}

.forecastDay3WeatherIcon {
    width: 70px;
    height: 70px;
}

.forecastDay4WeatherIcon {
    width: 70px;
    height: 70px;
}

.forecastDay5WeatherIcon {
    width: 70px;
    height: 70px;
}

@media(max-width: 1024px) {
    .currentWeatherTemp {
        font-size: 84px;
    }

    .currentWeatherLocationText {
        font-size: 52px;
    }

    .currentWeatherIcon {
        width: 50px;
        height: 50px;
    }

    .removeIMGStyling {
        width: 25px;
        height: 25px;
    }
}

@media(max-width: 768px) {
    .currentWeatherTemp {
        font-size: 60px;
    }

    .currentWeatherHighLow {
        font-size: 14px;
        margin: 0px;
        margin-top: -15px;
        margin-left: -25px;
    }

    .currentWeatherFahrenText {
        font-size: 14px;
        margin-left: -15px !important;
    }

    .currentWeatherLocationText {
        font-size: 42px;
        margin-top: -35px;
    }

    .currentWeatherIcon {
        width: 40px;
        height: 40px;
        margin-top: 50px;
        margin-left: -15px;
    }

    body {
        height: 100dvh;
    }

    .removeIMGStyling {
        width: 25px;
        height: 25px;
    }

    .favoriteCitiesText {
        font-size: 20px;
    }

    .forecastHighTempText {
        font-size: 36px;
    }

    .mapPinIcon {
        width: 30px;
        height: 30px;
        margin-top: -28px;
        margin-left: 2px;
        margin-right: -10px;
    }

    .currentWeatherDateTimeText {
        font-size: 16px;
        margin-top: -10px;
    }

    .addIcon {
        width: 30px;
        height: 30px;
        margin-top: -10px;
    }

    .forecastDay1WeatherIcon {
        width: 60px;
        height: 60px;
    }

    .forecastDay2WeatherIcon {
        width: 60px;
        height: 60px;
    }

    .forecastDay3WeatherIcon {
        width: 60px;
        height: 60px;
    }

    .forecastDay4WeatherIcon {
        width: 60px;
        height: 60px;
    }

    .forecastDay5WeatherIcon {
        width: 60px;
        height: 60px;
        max-width: 100%;
    }
}